@mixin button($color: green) {
    min-height: 24px;
    min-width: 24px;
    padding: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);

    & > i {
        font-size: 24px;
    }

    &:active,
    &.active {
        color: $color;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }
}

@mixin clear-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin outline($horizontal, $vertical, $stretch: 1px) {
    box-shadow: $horizontal $vertical 0px $stretch rgba(60, 116, 255, 1);
    z-index: 950;
}
